* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    max-width: 40rem;
}

body {
    margin: 0;
}



/*------------------------ Login -----------------------------*/


#login .top {
    background-color: #EA5045;
    width: 50rem;
    height: 35rem;
}



#login .bot {
    background-color: #FAF7F7;
    width: 50rem;
    height: 50rem;
}

#login .logo {
    position: absolute;
    top: 16rem;
    left: 17rem;
    width: 16rem;
    height: 6rem;
}



#login .brugernavn {
    display: flex;
    justify-content: center;
    width: 50rem;
    height: 9rem
}


#login .adgangskode {
    display: flex;
    justify-content: center;
    width: 50rem;
    height: 9rem
}


#login .continue {
    display: flex;
    justify-content: center;
    width: 50rem;
    height: 9rem
}


#login .facebooklogin {
    display: flex;
    justify-content: center;
    width: 50rem;
    height: 9rem
}



/* ------------------------------------------------------------------------- */

/* ------------------------------ Forside -----------------------------------*/

#forside {
    background-color: #FAF7F7;
    width: 50rem;
    height: 105rem;

}

/* ----------------------------- Menulinje ---------------------------------- */


.menulinje {
    width: 1500px;
    height: 50px;
    background-color: #EA5045;
}

.lille_logo {
    width: 70px;
    height: 60px;
}

.profil {
    position: absolute;
    width: 43px;
    height: 43px;
    top: 0vw;
    right: 13vw;
}

#menuknap {
    position: absolute;
    color: white;
    right: 6vw;
    top: 2vw;
    font-size: 30px;
}





/* -------------------------- p tags ----------------------------------------- */

#forside p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 15px;
    color: #F58E81;
}


#forside p1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: #F58E81;
}


#forside p2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 45px;
    color: #F58E81;
}

#skema .info p1 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: #3F3140;
    top: 12vw;
    left: 3vw;
}

#skema .info p2 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #707070;
    top: 21vw;
    left: 3vw;
}

#skema .info p3 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 15px;
    color: #707070;
    top: 13.5vw;
    right: 3vw;
}

#skema .info p4 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #707070;
    top: 21vw;
    right: 3vw;
}

#skema .dato p1 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    top: 29vw;
    left: 50vw;
}

#skema .dato p2 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: white;
    top: 33.2vw;
    left: 48vw;
}

#skema .dato p3 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    top: 36vw;
    left: 50vw;
}

/* ------------------------------- colonner ---------------------------------*/

.col1 {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.col2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.col3 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.col4 {
    width: 40rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;


}

.col5 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


/* ------------------------- Kasser og bokse ---------------------------------- */

.kasse1 {
    width: 140px;
    height: 140px;
    background-color: white;
    margin: 10px;
}


.kasse2 {
    width: 300px;
    height: 140px;
    background-color: white;
    margin: 10px;

}


.kasse3 {
    width: 300px;
    height: 300px;
    background-color: white;
    margin: 10px;
}

.col1 .boks1 {
    width: 100px;
    height: 100px;
    margin: auto;

}

.col2 .boks1 {
    width: 100px;
    height: 100px;
    margin: auto;

}

.col3 .boks1 {
    width: 100px;
    height: 100px;
    margin: auto;

}

.col4 .boks1 {
    width: 100px;
    height: 100px;
    margin: auto;

}

.col5 .boks1 {
    width: 100px;
    height: 100px;
    margin: auto;

}

.col2 .boks2 {
    position: relative;
    top: 40%;
    left: 28%;

}

.col4 .boks2 {
    position: relative;
    top: 40%;
    left: 25%;


}


/*--------------------------- Skema  ------------------------------------------*/

#skema .info {
    width: 150vw;
    height: 17vw;
    background-color: #DEDCDB;
}

#skema .dato {
    width: 150vw;
    height: 15vw;
    background-color: #3F3140;
}



#skema .lektion1 {
    width: 100vw;
    height: 15vw;
    border-color: #E2E8ED;
    border-style: solid
}

#skema .lektion2 {
    width: 100vw;
    height: 15vw;
    border-color: #E2E8ED;
    border-style: solid;

}

#skema .pause10 {
    width: 100vw;
    height: 5vw;
    background-color: #FAF7F7;
    border-color: #E2E8ED;
    border-style: solid;
}

#skema .lektion3 {
    width: 100vw;
    height: 15vw;
    border-color: #E2E8ED;
    border-style: solid;

}

#skema .lektion4 {
    width: 100vw;
    height: 15vw;
    border-color: #E2E8ED;
    border-style: solid;

}

#skema .pause12 {
    width: 100vw;
    height: 5vw;
    background-color: #FAF7F7;
    border-color: #E2E8ED;
    border-style: solid;
}


#skema .lektion5 {
    width: 100vw;
    height: 15vw;
    border-color: #E2E8ED;
    border-style: solid;

}

#skema .lektion6 {
    width: 100vw;
    height: 15vw;
    border-color: #E2E8ED;
    border-style: solid;

}


#skema .pause14 {
    width: 100vw;
    height: 5vw;
    background-color: #FAF7F7;
    border-color: #E2E8ED;
    border-style: solid;
}


#skema .lektion7 {
    width: 100vw;
    height: 15vw;
    border-color: #E2E8ED;
    border-style: solid;

}

#skema .lektion8 {
    width: 100vw;
    height: 15vw;
    border-color: #E2E8ED;
    border-style: solid;

}

/*-------------------------------------------------------------------------------------*/


#skema .bund {
    width: 100vw;
    height: 15vw;
    background-color: #3F3140;
}

.bund p {
    padding: 20px;
    display: flex;
    justify-content: center;

}



#skema .tid {
    width: 20vw;
    height 20vw:
}

#skema p {
    font-size: 20px;
    color: #BCC5D3;
    font-family: 'Roboto', sans-serif;

}

/*--------------------------- skema moduler  -----------------------------------------*/

.modul1 {
    position: absolute;
    top: 42.3vw;
    right: 5vw;
    width: 80vw;
    height: 29vw;
    background-color: #F2F1F0;
}

.modul1 p1 {
    padding: 20px;
    font-size: 22px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.modul1 p2 {
    padding: 20px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.modul1 .mappe1 {
    position: absolute;
    top: 0vw;
    right: 2vw;
    width: 9vw;
    height: 9vw;
}

.modul1 .klips1 {
    position: absolute;
    top: 6vw;
    right: 2vw;
    width: 9vw;
    ;
    height: 9vw;
}

.modul2 {
    position: absolute;
    top: 77.6vw;
    right: 5vw;
    width: 80vw;
    height: 28.7vw;
    background-color: #F2F1F0;
}


.modul2 p1 {
    padding: 20px;
    font-size: 22px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.modul2 p2 {
    padding: 20px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;

}

.modul2 .klips2 {
    position: absolute;
    top: 0vw;
    right: 2vw;
    width: 9vw;
    height: 9vw;
}

.modul3 {
    position: absolute;
    top: 112.6vw;
    right: 5vw;
    width: 80vw;
    height: 13.7vw;
    background-color: #F2F1F0;
}


.modul3 p1 {
    padding: 20px;
    font-size: 22px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.modul3 p2 {
    padding: 20px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.modul3 .mappe3 {
    position: absolute;
    top: 0vw;
    right: 2vw;
    width: 9vw;
    height: 9vw;
}



/*--------------------------- efekter  -----------------------------------------*/

.hidden {
    display: none;
    transform: scale(0);
    transform: translateX(-100%);
    opacity: 0;
}



/*------------------------------ Media quries -----------------------------------*/


@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }


    /*-------------------------------------------------------------------------------*/
