* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    max-width: 40rem;
}

body {
    margin: 0;
}



/*------------------------ Login -----------------------------*/


#login .top {
    background-color: #EA5045;
    width: 50rem;
    height: 35rem;
}



#login .bot {
    background-color: #FAF7F7;
    width: 50rem;
    height: 50rem;
}

#login .logo {
    position: absolute;
    top: 16rem;
    left: 17rem;
    width: 16rem;
    height: 6rem;
}



#login .brugernavn {
    display: flex;
    justify-content: center;
    width: 50rem;
    height: 9rem
}


#login .adgangskode {
    display: flex;
    justify-content: center;
    width: 50rem;
    height: 9rem
}


#login .continue {
    display: flex;
    justify-content: center;
    width: 50rem;
    height: 9rem
}


#login .facebooklogin {
    display: flex;
    justify-content: center;
    width: 50rem;
    height: 9rem
}



/* ------------------------------------------------------------------------- */

/* ------------------------------ Forside -----------------------------------*/

#forside {
    background-color: #FAF7F7;
    width: 400rem;
    height: 100rem;


}

#forside .menulinje {
    width: 500px;
    height: 60px;
    background-color: #EA5045;
}

#forside .lille_logo {
    width: 70px;
    height: 60px;
}

/* ------------------------------- colonner ---------------------------------*/

.col1 {
    display: flex;
    flex-direction: row;


}

.col2 {
    display: flex;
    flex-direction: row;

}

.col3 {
    display: flex;
    flex-direction: row;

}

.col4 {
    width: 40rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.col5 {
    display: flex;
    flex-direction: row;

}





/* ------------------------------------------------------------------------ */

.kasse1 {
    width: 140px;
    height: 140px;
    background-color: black;
    margin: 10px;
}


.kasse2 {
    width: 300px;
    height: 140px;
    background-color: black;
    margin: 10px;

}


.kasse3 {
    width: 300px;
    height: 300px;
    background-color: black;
    margin: 10px;
}


/*----------------------------------------------------------------------------*/
